.containner__search {
    gap: 10px;
    width: 100%;
    padding: 10px 10px 10px 15px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    background: var(--dark_blue);
}

.icon__search {
    font-size: 1.3em;
    color: var(--blue);
}

.containner__search input {
    width: 100%;
    padding: 5px;

    border: none;
    outline: none;
    background: none;
    color: var(--grey);
}

input::placeholder {
    color: var(--grey);
}

.containner__search button {
    padding: 10px 25px;
    border-radius: 5px;

    border: none;
    cursor: pointer;
    color: var(--white);
    font-weight: bold;
    letter-spacing: .1em;
    background: var(--blue);
}