.containner__title {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containner__title h1 {
    font-size: 2em;
}

.containner__title p a {
    gap: 10px;
    display: flex;
    color: var(--white);
    align-items: center;
    text-decoration: none;
}